/*Name: Joshua Massee
Course: CSC 337
Date: 4/24/2019
Description:  Creates layout for web page that allows rating UA ECE professors.
*/

body {
	margin: 0px;
	font-family: 'Times New Roman';
}

#banner {
	background: #FF2222;
	height: 100px;
	width: 100%;
}

#Home {
	float: right;
}

#ECELogo {
	margin-left: 20px;
	margin-top: 20px;
	margin-bottom: 20px;
}

#title {
	margin: auto;
	width: max-content;
	padding: 20px;
	font-family: arial;
	text-shadow: 1px 1px black;
}

#selectTeacher {
	height: 30px;
	width: 20%;
	margin-left: 20px;
	margin-right: 5px;
}

#submitTeacher {
	height: 30px;
	width: 100px;
	border-radius: 5px;

}

#chooseRight {
	display: none;
	margin-left: 20px;
}

#teacher {
	padding: 20px;
	display: none;
}

#name {
	width: max-content;
	margin: auto;
	margin-bottom: 20px;
	text-decoration: underline;
}

#portrait {
	width: 20%;
	margin-left: 40%;
	margin-bottom: 20px;
}

#overview {
	display: flex;
	margin: auto;
	width: 65%;
	justify-content: space-around;
	border: 1px solid black;
}

.oItem {
	width: 33.3%;
	border-left: 1px solid black;
	border-right: 1px solid black;
	height: 100px;
}

.oText {
	margin: auto;
	width: max-content;
	margin-top: 5px;
}

.oGrade {
	font-size: 30px;
	width: max-content;
	margin: auto;
	margin-top: 10px;
}

#reviews {
	margin: auto;
	margin-top: 20px;
	width: 75%;

}

#narrowByClass {
	margin: 10px;
}

#classes {
	width: 15%;
	height: 25px;
	margin-right: 5px;
}

#selectClass {
	height: 25px;
	border-radius: 2px;
}

.review {
	display: flex;
	border: 2px solid black;
	background-image: url(texture3.jpg);
}

.left, .middle {
	width: 30%;
}

.right {
	width: 40%;

}

p {
	padding: 5px;
}

#newRating {
	margin-top: 20px;
	margin-left: 35%;
	width: 30%;
	height: 40px;
	text-shadow: 3px 2px 1px #9daef5;
}

#reviewForm {
	margin:auto;
	width: 20%;
	display: none;
	background-color: #F0E68C;
}

h3 {
	width: max-content;
	margin: auto;
	padding-top: 10px;
}

.reviewDirection {
	margin-left: 10%;
	margin-bottom: 3px;
}

.input {
	width: 80%;
	margin-left: 10%;
	margin-bottom: 20px;
}

#submitRating {
	width: 30%;
	height: 30px;
	margin-left: 35%;
	margin-bottom: 15px;
}

#errorMessage {
	color: red;
	display: none;
	width: max-content;
	margin: auto;
	padding-bottom: 10px;
}
